@{
     Layout = null;
     var enrollment = ViewBag.Enrollment;
     var registrar = enrollment.registrarsModel;
     var student = enrollment.studentsModel;
     var course = enrollment.coursesModel;
     
     var registrarFullName = registrar.FirstName + ' ' + registrar.MiddleName[0] + ". " + registrar.LastName;
     var registrarFullNameFormatted = registrar.FirstName[0] + ". " + registrar.LastName;
     var studentFullName = student.FirstName + ' ' + student.MiddleName[0] + ". " + student.LastName;
     var studentFullNameFormatted = student.LastName + ", " + student.FirstName + ' ' + student.MiddleName;
     
     var courseYearSection = course.Acronym + ' ' + enrollment.Year + '-' + enrollment.Section;
     var studentNumber = enrollment.StudentId;
      
     ViewBag.Title = studentFullName;
     
     string url = HttpContext.Current.Request.Url.AbsoluteUri;
     Uri myUri = new Uri(url);
     string downloadEnrollment = HttpUtility.ParseQueryString(myUri.Query).Get("download");
     int schoolYearStartYear = enrollment.SchoolYearStart.Year;
     int schoolYearStartMonth = enrollment.SchoolYearStart.Month;
     
     string semester = "First sem.";
     string schoolYear = schoolYearStartYear + " - " + (schoolYearStartYear + 1);
     string studentOldNew = "old";
     
     if(enrollment.Type == "incoming" || enrollment.Type == "transferee" )
        {
            studentOldNew = "new";
        }

     if(schoolYearStartMonth > 9)
        {
            semester = "Second sem.";
        }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Enrollment Application</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        /* CLIENT-SPECIFIC STYLES */
         body,
         table,
         td,
         a {
             -webkit-text-size-adjust: 100%;
             -ms-text-size-adjust: 100%;
         }

         table,
         td {
             mso-table-lspace: 0pt;
             mso-table-rspace: 0pt;
         }

         img {
             -ms-interpolation-mode: bicubic;
         }

         /* RESET STYLES */
         img {
             border: 0;
             height: auto;
             line-height: 100%;
             outline: none;
             text-decoration: none;
         }

         table {
             border-collapse: collapse !important;
         }

         body {
             height: 100% !important;
             margin: 0 !important;
             padding-bottom: 5rem;
             width: 100% !important;
             background-color: #5c5e5d;
            
         }
            
        .content {
            height: 230mm;
            max-height: 230mm;
            width: 188mm;
            max-width: 188mm;
            
        }
            
        .bg-pdf {
            background-color: #909693;    
        }
            
        * {
            text-underline-offset: 3px;    
        }
            
        .item-table {
            font-size: 3mm;
            margin-top: 2mm;
        }
            
        .item-header {
            font-size: 3.5mm;
        }
            
        .item-footer {
            font-size: 3mm;
        }
     
    </style>
</head>
<body class="bg-pdf">

<section class="d-flex flex-column position-fixed  justify-content-center my-5" style="bottom: 5px; left:20px" >
    <button id="downloadConfirmation" class="btn btn-primary fs-6 mb-2">Download Enrollment Confirmation</button>
    <button id="downloadRegistration" class="btn btn-success fs-6 mb-2">Download Registration Form</button>
</section>
        
<section class="py-5">
<!-- ENROLLMENT CONFIRMATION -->
    <div id="enrollmentConfirmation" class="bg-white shadow mx-auto p-5 content" >
       <div>
           <img src="/images/cvsu-header.jpeg" class="mx-auto" height="220" style="display: block; border: 0px;" />             
           <h1 class="fw-bold text-success" style="font-size: 28px; font-weight: 400; margin: 2;text-align:center">Enrollment Confirmation</h1> 
      </div>
       <div class="my-5 fs-6">
            <p style="margin: 0;">
                    Dear Mr. <span class="fw-bold text-decoration-underline">@studentFullName ,</span>
                </p>
                <p class="mb-3">
                    Greetings from Cavite State University - Bacoor Campus
                </p>
                <p class="mb-3">
                    This is to infrom you that you are OFFICIALY  ENROLLED in the program <span class="mx-1"></span>
                    for the First Semester of Academic Year 2021-2022.
                </p>
                <p class="mb-3">
                    Please take note of these informations:
                    <br/>
                    <span>Student number:</span>
                    <span class="fw-bold text-decoration-underline">@studentNumber</span>
                    <br/>
                    <span>Course, Year, & Section</span>
                    <span class="fw-bold text-decoration-underline">@courseYearSection</span>
                </p>
                 <p class="mb-3">
                    Congatulations!
                </p>
                <br/>
                <p class="mb-3">
                    Enrollment Committee
                </p>
                <p class="mb-3 fw-bold text-decoration-underline">
                    @registrarFullName
                </p> 
        </div>
        </div>
            
      <!-- REGISTRATION FORM -->
     <div id="enrollmentRegistration" style="overflow-hidden" class="bg-white my-5 shadow mx-auto p-5 content overflow-hidden" >
      <div class="d-flex flex-column">
       <img src="/images/cvsu-header.jpeg" class="mx-auto" style="height: 15mm; " />             
       <h1 class="fw-bold my-auto text-success text-center d-block" style="font-size: 20px; font-weight: 400;">Registration Form</h1> 
      </div>
       
      <div>
        <table class="table table-borderless" style="width: 85%" >
          <tbody>
            <tr >
              <th  class="px-3" scope="row">
                <div class="d-flex justify-content-between fw-normal item-header">
                    <span  class="text-success fw-bold">Student number</span>
                    <span>@studentNumber</span>        
                </div>
                <div class="d-flex justify-content-between fw-normal item-header">
                    <span  class="text-success fw-bold">Student Name</span>
                    <span>@studentFullNameFormatted</span>        
                </div>
                <div class="d-flex justify-content-between fw-normal item-header">
                    <span  class="text-success fw-bold">Section</span>
                    <span>@courseYearSection</span>        
                </div>
                
              </th>
              <th  class="px-3" scope="row">
                <div class="d-flex justify-content-between fw-normal item-header">
                    <span  class="text-success fw-bold">Semester</span>
                    <span>semester</span>        
                </div>
                <div class="d-flex justify-content-between fw-normal item-header">
                    <span  class="text-success fw-bold">Evaluator</span>
                    <span>@registrarFullNameFormatted</span>        
                </div>
                <div class="d-flex justify-content-between fw-normal item-header">
                    <span  class="text-success fw-bold">School Year</span>
                    <span>@schoolYear</span>        
                </div>
              </th>
            </tr>
            <tr class="p-0" >
                <th class="px-3"  colspan="2">
                    <div class="d-flex justify-content-between fw-normal item-header" style="transform: translateY(-10px)">
                        <span  class="text-success fw-bold">Course</span>
                        <span>@enrollment.coursesModel.Name</span>        
                    </div>
                    <div class="d-flex justify-content-between fw-normal item-header" style="transform: translateY(-10px)">
                        <span  class="text-success fw-bold">Address</span>
                        <span>@student.Address</span>        
                    </div>                   
                </th> 
            </tr>
          </tbody>
        </table>  
      </div>
       
       <div class="my-3 fs-6">
           <table class="table  table-bordered border-success">
              <thead>
                <tr class="text-success" style="font-size: 3mm">
                  <th scope="col">Laboratory <br/> Fees</th>
                  <th scope="col">Other Fees</th>
                  <th scope="col">Assessment</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody class="fw-normal">
                <tr>
                  <th  class="px-3" scope="row">
                    <div class="d-flex justify-content-between fw-normal item-table">
                        <span>Lab</span>
                        <span>₱800</span>        
                    </div>
                  </th>
                  <th  class="px-3" scope="row">
                    <div class="d-flex justify-content-between fw-normal item-table">
                        <span>NSTP</span>
                        <span>₱300.00</span>        
                    </div>
                    <div class="d-flex justify-content-between fw-normal item-table">
                        <span>Reg. Fee</span>
                        <span>₱300.00</span>        
                    </div>
                    <div class="d-flex justify-content-between fw-normal item-table">
                        <span>ID</span>
                        <span>-</span>        
                    </div>
                    <div class="d-flex justify-content-between fw-normal item-table">
                        <span>Late Reg.</span>
                        <span>-</span>        
                    </div>
                    <div class="d-flex justify-content-between fw-normal item-table">
                        <span>Insurance</span>
                        <span>-</span>        
                    </div>
                    
                  </th>
                  <th  class="px-3" scope="row" style="">
                    <div class="d-flex justify-content-between fw-normal item-table">
                        <span>Tuition Fee</span>
                        <span>₱2,600.00</span>        
                    </div>
                    <div class="d-flex justify-content-between fw-normal item-table">
                        <span>SFDF</span>
                        <span>₱1,500.00</span>        
                    </div>
                    <div class="d-flex justify-content-between fw-normal  item-table">
                        <span>SRF</span>
                        <span>₱2,000.00</span>        
                    </div>
                    <div class="d-flex justify-content-between fw-normal  item-table">
                        <span>Misc.</span>
                        <span>₱435.00</span>        
                    </div>
                    <div class="d-flex justify-content-between fw-normal item-table">
                        <span>Athletics</span>
                        <span>₱100.00</span>        
                    </div>
                    <div class="d-flex justify-content-between fw-normal item-table">
                        <span>SCUAA</span>
                        <span>₱100.00</span>        
                    </div>
                    <div class="d-flex justify-content-between fw-normal item-table">
                        <span>Library Fee</span>
                        <span>₱50.00</span>        
                    </div>
                    <div class="d-flex justify-content-between fw-normal item-table">
                        <span>Lab Fees</span>
                        <span>₱800.00</span>        
                    </div>
                    <div class="d-flex justify-content-between fw-normal item-table">
                        <span>Other Fees</span>
                        <span>₱355.00</span>        
                    </div>
                  </th>
                   <th  class="px-3" scope="row">
                    <div class="d-flex justify-content-between text-success fw-bold item-table">
                        <span>Total amount</span>
                        <span>₱7,940.00</span>        
                    </div>
                    <div class="d-flex flex-column my-3  justify-content-between fw-normal item-table">
                        <span>Scholarship</span>
                        <span class="fw-bold" style="font-size: 3mm">CHED Free Tuition <br/> and Misc. Fee</span>        
                    </div>
                    <div class="d-flex justify-content-between fw-normal item-table">
                        <span>Tuition</span>
                        <span>₱2,600.00</span>        
                    </div>
                    <div class="d-flex justify-content-between fw-normal item-table">
                        <span>SDF</span>
                        <span>₱1,500.00</span>        
                    </div>
                    <div class="d-flex justify-content-between fw-normal item-table">
                        <span>SRF</span>
                        <span>₱2,000.00</span>        
                    </div>
                   
                  </th>
                </tr>
              </tbody>
            </table>
            
            <section class="d-flex justify-content-between my-3">
                <div>
                    <table class="table table-borderless">
                      <tbody>
                        <tr>
                          <th  class="" scope="row">
                            <div class="d-flex justify-content-between fw-normal item-footer fst-italic">
                                <span  class=" fw-bold">Old/New Student :</span>
                                <span class="mx-2">@studentOldNew</span>        
                            </div>
                           <div class="d-flex justify-content-between fw-normal item-footer fst-italic">
                                <span  class=" fw-bold">Registration Status:</span>
                                <span class="mx-2">@enrollment.Type</span>        
                            </div>
                            <div class="d-flex justify-content-between fw-normal item-footer fst-italic">
                                <span  class=" fw-bold">Date of Birth :</span>
                                <span class="mx-2">@student.BirthDate.ToString("MMMM dd, yyyy")</span>        
                            </div>
                            <div class="d-flex justify-content-between fw-normal item-footer fst-italic">
                                <span  class=" fw-bold">Gender : </span>
                                <span class="mx-2">@student.Gender</span>        
                            </div>
                            <div class="d-flex justify-content-between fw-normal item-footer fst-italic">
                                <span  class=" fw-bold">Contact Number</span>
                                <span class="mx-2">@student.ContactNumber</span>        
                            </div>
                            <div class="d-flex justify-content-between fw-normal item-footer fst-italic">
                                <span  class=" fw-bold">E-mail Address: </span>
                                <span class="mx-2">@student.Email</span>        
                            </div>
                            <div class="d-flex fw-normal my-2 item-footer fst-italic">
                                <span  class=" fw-bold">Student's Signature</span>
                                <span class="mx-2" style="width: 30mm; border-bottom: solid 1px"></span>        
                            </div>
                            
                                            
                          </th>
                          
                        </tr>
                        
                      </tbody>
                    </table>          
                </div>
                <div class="p-3">
                    <img src="/images/cvsu-enrollment-stamp.jpg" style="height: 36mm" alt="Stamp" />        
                </div>        
            </section>
            
            </div>
        </div>
            
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script>
    
            
    $( document ).ready(function() {
        
        var studentFullName = '@studentFullName';
        window.jsPDF = window.jspdf.jsPDF;
        window.html2canvas = html2canvas;
        
        function downloadEnrollmentConfirmation(){
          var pdf = new jsPDF()
          pdf.html(document.getElementById('enrollmentConfirmation'), {
            html2canvas: {
                scale: 0.3 // default is window.devicePixelRatio
            },
            callback: function (pdf) {
              pdf.save( studentFullName + '_Enrollment Confirmation.pdf');
            }
          })
        }
            
        function downloadEnrollmentRegistration(){
          var pdf = new jsPDF();
          pdf.html(document.getElementById('enrollmentRegistration'), {
            html2canvas: {
                scale: 0.3 // default is window.devicePixelRatio
            },
            callback: function (pdf) {
              pdf.save( studentFullName + '_Regisration Form.pdf');
            },
            height: 500
          })
        }
            
            
            
        var downloadEnrollment = '@downloadEnrollment';
            
        
        $( "#downloadConfirmation" ).click(()=> {
          downloadEnrollmentConfirmation();
        });
        
        $( "#downloadRegistration" ).click(()=> {
          downloadEnrollmentRegistration();
        });
            
        if(downloadEnrollment){
            downloadEnrollmentConfirmation();
            downloadEnrollmentRegistration();
        }
    });
</script>
</body>
</html>