@model EnrollmentSystem.Models.EnrollmentsModel

@{
    ViewBag.Title = "Enrollments";
    Layout = "~/Views/Shared/Registrar_Layout.cshtml";
    
    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    Uri myUri = new Uri(url);
    string enrollmentType = HttpUtility.ParseQueryString(myUri.Query).Get("type");
}



@if (TempData["MessageResult"] != null)
{
    <div class="alert alert-primary">
        @TempData["MessageResult"]
    </div>
}

@if (TempData["ErrorResult"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorResult"]
    </div>
}

<section class="row pb-5 w-100 overflow-auto">
   <div class="d-flex justify-content-between py-3">
        <h3>@ViewBag.Title</h3>
   </div>
   <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active @(enrollmentType == null ? "bg-success text-white" :  "" ) " href="/Enrollments">Regular</a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link active @(enrollmentType == "Incoming" ? "bg-success text-white" :  "" ) " href="/Enrollments?type=Incoming">Incoming</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active @(enrollmentType == "Returnee" ? "bg-success text-white" :  "" ) " href="/Enrollments?type=Returnee">Returnee</a>
      </li>
   <div class="w-100 overflow-auto px-3 py-4 ">
        <table id="dataTable" class="table table-striped" style="width:100%"> </table>
   </div>
  </ul> 
  
</section>
@section scripts{
 <script>
    $(document).ready(function() {
    
        var enrollmentsData = '@ViewBag.EnrollmentPreviews';
        var enrollments = JSON.parse(enrollmentsData.replace(/&quot;/g,'"'));
        for(var i = 0; i < enrollments.length; i++){
            let enrollment = enrollments[i];
            enrollments[i] = Object.keys(enrollment).map((key) => enrollment[key]);
            
        }
        var courseTable = $('#dataTable').DataTable( {
            responsive: true,
            data: enrollments,
            columns: [
                { title: "ID" },
                { title: "Student ID" },
                { title: "Course" },
                { title: "", "defaultContent": "<button class='deleteitem btn btn-primary'>Manage</button>" }
            ],
            "fnRowCallback": function(nRow, aData, iDisplayIndex) {
              nRow.setAttribute('id',aData[0]);
              },
            dom: 'Bfrtip',
            buttons: [
                'print','copyHtml5',
            'excelHtml5',
            'pdfHtml5'
            ]
        });
         
        $(".deleteitem").on('click', function(event){
            let itemId = $(this).closest('tr').attr('id');
            location.href = "/Courses/Delete/" + itemId;
        });
    } );
    
    
 </script>
}



