@model EnrollmentSystem.Models.LoginViewModel
<link href="~/Content/style.css" rel="stylesheet" />


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@300&display=swap" rel="stylesheet">
<style>
    body{
        height:100%;
        width:100%;
    }
    .body-content {
        margin-top:10vh;
    }
</style>
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="logo">
    <img src="~/Content/img/Cavite_State_University.png">
</div>
<p>Cavite State University - Bacoor Campus <br /> Enrollment System</p>
<h1 class="mt-3">Log in</h1>
<p><b>Sign-in to account</b></p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content">
        <div class="form-horizontal">


            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">


                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = " control-label col-md-1" })
                <div class="col-md-7">

                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = " form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = " text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = " control-label col-md-1" })
                <div class="col-md-7">

                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
                <div align="center">
                    <div class="sign-up mt-3">
                        <a class="nav-link" href=" /Account/ResetPassword"> Forgot Password? </a>
                    </div>
                    <div class="form-group">
                        <div class=" col-md-10">
                            <input type="submit" value="Log-In" class="btn btn-default btn-lg btn-submit btn-success" />
                        </div>
                    </div>
                    <div class="sign-up mt-3">
                        <p>No Account? Sign up </p><a class="nav-link" href="/Account/Signup"> here</a>
                    </div>

                 </div>
            </div>
        </div>


    <hr>

}


