@model EnrollmentSystem.Models.StudentsModel

@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/Registrar_Layout.cshtml";
    var students = ViewBag.Students;
}

@if (TempData["MessageResult"] != null)
{
    <div class="alert alert-primary">
        @TempData["MessageResult"]
    </div>
}

@if (TempData["ErrorResult"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorResult"]
    </div>
}


<section class="row pb-5 w-100 overflow-auto">
    <div class="d-flex justify-content-between py-3">
        <h3>@ViewBag.Title</h3>
        
    </div>
   <div class="w-100 overflow-auto py-3">
         <table id="dataTable" class="table table-striped" style="width:100%">
    </table>
    </div>
</section>

<section>@RenderPage("./View.cshtml")</section>


@section scripts{
 <script>
    $(document).ready(function() {
    
        var studentsData = '@ViewBag.studentsPreview';
        var studentsRaw = JSON.parse(('@ViewBag.students').replace(/&quot;/g,'"'));
    
    
        var students = JSON.parse(studentsData.replace(/&quot;/g,'"'));
        console.log(status);
        for(var i = 0; i < students.length; i++){
            let student = students[i];
            students[i] = Object.keys(student).map((key) =>{
                return student[key];
            });
        }
        var table = $('#dataTable').DataTable( {
            responsive: true,
            data: students,
            columns: [
                { title: "ID" },
                { title: "Email" },
                { title: "Full name" },
                { title: "Gender" },
                { title: "Age" },
                { title: "Course" },
            ],
            "fnRowCallback": function(nRow, aData, iDisplayIndex) {
              nRow.setAttribute('id',aData[0]);
              nRow.setAttribute('class',"clickableRow");
              nRow.setAttribute('data-bs-toggle',"modal");
              nRow.setAttribute('data-bs-target',"#viewData");
              },
            dom: 'Bfrtip',
            buttons: [
                'print','copyHtml5',
            'excelHtml5',
            'pdfHtml5'
            ]
        });
         
        $(".clickableRow").on('click', function(event){
            let itemId = $(this).attr('id');
            let item = findItemById(itemId);
            $(this).attr('data-bs-id',   itemId);
            $(this).attr('data-bs-item',   JSON.stringify(item));
        });
    
        function findItemById(id){
            for(var i = 0; i < studentsRaw.length; i++){
                let item = studentsRaw[i];
                if(id == item.id)return item;
            }
            return null;
        }
    
    } );
    
    
 </script>
}



