
@{
    ViewBag.Title = "Portal";
    Layout = "~/Views/Shared/Student_Layout.cshtml";
}

<div class="container mt-5">
    <div class="main-body ">
        <div class="card mb-4">
            <div class="content p-4" style="background-color: #EAFAF9;">
                <h3 align="center">Enrollment status</h3>
                <h1 class="text-warning" style="font-size: 4em; text-align: center;">Pending</h1>
                <h5 style=" width: 70%; text-align: center; margin: auto;" class="text-justify">
                    Your enrollment application is currently on list to be checked by the registrar. 
                    Kindly wait for an email notification about your enrollment status
                </h5>
            </div>

        </div>
        <div class="my-5">
            <h3>Apply an Enrollment</h3>
            <div class="row-cols-3">
                <a href="/Enrollments/Regular" class="  " target="_blank">
                    <button class="btn btn-portal btn-success pe-2 col-12 my-2  mx-1 col-md-3">Regular</button>
                </a>
                <a href="/Enrollments/Incoming" class=""  target="_blank">
                    <button class="btn btn-portal btn-success pe-2 col-12 my-2 mx-1 col-md-3 ">Incoming</button>
                </a>
                <a href="/Enrollments/Transferee" class="  "  target="_blank">
                    <button class="btn btn-portal btn-success pe-2 col-12 my-2 mx-1 col-md-3">Transferee</button>
                </a>
              

            </div>

        </div>

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="/images/@Session["userProfileFileName"]" alt=" @Session["userFirstName"]" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>
                                    <span class="mx-1"> @Session["userFirstName"]</span>
                                    <span class="mx-1"> @Session["userMiddleName"]</span>
                                    <span class="mx-1"> @Session["userLastName"]</span>
                                </h4>
                                <p class="text-secondary mb-1">Regular Student</p>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">First Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Session["userFirstName"]
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Middle Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Session["userMiddleName"]
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Last Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Session["userLastName"]
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Session["userEmail"]
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Gender</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">

                                @Session["userGender"]
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Contact number</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Session["userContactNumber"]
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Session["userAddress"]
                            </div>
                        </div>
                        <hr>

                    </div>
                </div>





            </div>
        </div>

    </div>
</div>
