<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Enrollment System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2 position-fixed top-0 w-100">
        <div class="container-fluid px-5">
            <div class="">
                <a class="navbar-brand" href="/">
                    <img src="~/images/logo.png" alt="" width="30" height="24">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse container navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="/Account/Signup">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Account/Login">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Account/ResetPassword">Reset password</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="container body-content">
        <div class="my-3">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
